$main-font: Open Sans, sans-serif;
$main-font-size: 16px;
$main-line-height: 40px;
$main-font-weight: normal;
$semi-bold-font-weight: 600;
$light-text-color: #ffffff;
$dark-text-color: #3b434c;
$main-background-color: rgba(11,13,15,0.7);
$main-background-blend-mode: multiply;
$main-background-position: center;
$accent-color: #f7600e;
$text-align: center;
$main-button-border: #65696f;
$basic-border-radius: 10px;
$transparency: transparent;
$basic-margin: 0 15px;
