.deal-button {
  border: 1px solid $main-button-border;
  border-radius: $basic-border-radius;
  background-color: $transparency;
  color: $light-text-color;
  font-size: $main-font-size;
  font-weight: $semi-bold-font-weight;
  line-height: $main-line-height;
  &:hover {
    border: 1px solid $transparency;
    background-color: $accent-color;
  }
}
.check-out-button {
  border: 1px solid $main-button-border;
  border-radius: $basic-border-radius;
  background-color: $transparency;
  color: $light-text-color;
  font-size: $main-font-size;
  font-weight: $semi-bold-font-weight;
  line-height: $main-line-height;
  &:hover {
    border: 1px solid $transparency;
    background-color: $accent-color;
  }
}
.submit-button {
  background-color: $transparency;
  border-radius: $basic-border-radius;
  border: 1px solid $main-button-border;
  color: $light-text-color;
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $semi-bold-font-weight;
  &:hover {
    background-color: $accent-color;
    border: 1px solid $transparency;
  }
}
.hover-button {
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $accent-color;
  background-color: $light-text-color;
  border: 1px solid $transparency;
  border-radius: $basic-border-radius;
}
.show-more-button {
  color: $dark-text-color;
}