.main-screen {
  background-blend-mode: $main-background-blend-mode;
  background-image: url("../img/background-laptop-notepad.jpg");
  background-position: $main-background-position;
  background-color: $main-background-color;
}
h1.main-title {
  font-size: 70px;
  font-weight: 800;
  color: $light-text-color;
}
.cover-paragraph {
  font-size: 25px;
  line-height: $main-line-height;
  color: $light-text-color;
}