.footer {
  background-color: $dark-text-color;
  .copyright {
    font-size: $main-font-size;
    line-height: $main-line-height;
    color: $light-text-color;
  }
  .designed {
    font-size: $main-font-size;
    line-height: $main-line-height;
    color: $light-text-color;
  }
}