.small-icon:hover {
  background-color: $accent-color;
}
.slider-arrow {
  opacity: 0.7;
}
.round-img {
  border: 1px solid $transparency;
  border-radius: 100px;
}
.social-media-icon {
  border: 1px solid $transparency;
  border-radius: 100px;
}
.soc-media-icon {
  border: 1px solid $transparency;
  border-radius: 100px;
}