.deal-button {
  margin: $basic-margin;
  padding: 15px 77px;
}
.check-out-button {
  margin: $basic-margin;
  padding: 15px 70px;
}
.submit-button {
  padding: 0 80px;
  margin: $basic-margin;
}
.hover-button {
  width: 210px;
  height: 50px;
  padding-top: 7px;
  position: absolute;
  top: 220px;
  left: 70px;
}
.show-more-button {
  display: inline-block;
  margin: 100px 0;
}